# Ignore everything
*

!tests
!tests/test-data
!tests/test-data/*.js
!.gitignore
!cli-alias.txt
!index.js
!LICENSE
!my-bools.js
!my-browser-sync.js
!my-clock.js
!my-formatting.js
!my-fs.js
!my-JSON.js
!my-loops.js
!my-messages.js
!package.json
!package-lock.json
!README.md