# Ignore everything
*

# TODO: create .gitinclude
!tests
!tests/*.test.js
!tests/test-data
!tests/test-data/*.js
!.gitignore
!cli-alias.txt
!index.js
!my-bools.js
!my-browser-sync.js
!my-clock.js
!my-formatting.js
!my-fs.js
!my-JSON.js
!my-loops.js
!my-messages.js
!package.json